*{
      margin: 0;
      box-sizing: border-box;
      padding: 0;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: lighter;
      max-width:fit-content;
      margin: 0 auto;
      margin-bottom: 50px;
}

h1 span{
      font-weight: bold;
}

.logos{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
}

.testimonials-section h2{
      text-align: center;
      margin:30px ;
}

.testimonials-image{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #1abc9c;
      margin: 0 auto;
}

.testimonials-slider{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      text-align: center;
      padding: 20px;
      min-height: 300px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 10px 15px;
      overflow: hidden;
}

.testimonials-slider h3 {
      width: fit-content;
      font-size: 20px;
      font-weight: bold;
      margin: 0 auto;
      margin-top: 20px;
      color: #000;
      margin-bottom: 20px;
}

.testimonials-slider p {
      text-align: justify;
      font-size: 15px;
      line-height: 1.5;
      color: #333;
      margin-top: 10px;
      margin-bottom: 0;
}

.slick-slide{
      height: auto !important;
}