*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: cadetblue !important;
}

.services-section{
     padding: 80px 20px;
}
.services-section>div:nth-child(2){
     display: flex;
     flex-wrap: wrap;
}

.services-section ion-icon{
     font-size: 350%;
     color: #103e62;
}

.box-info{
     flex-basis: 250px;
     flex-grow: 1;
     padding: 1%;
     border: 2px solid #fff;
}

h3{
     text-transform:capitalize;
     font-weight: bold;
     font-size: 110%;
     margin-bottom: 15px;
}

.box-info p{
     font-size: 90%;
     line-height: 145%;
}

