*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
background-color: rgb(18, 81, 81); 
height: 1000px;
}

.carousel {
     position: relative;
     width: 600px;
     /* max-height: 330px;
     min-height: 330px; */
     margin: 0 auto;
     border-radius: 10px;
}

.frota {
     background-color: rgb(18, 81, 81);
     height: 500px;
     padding: 30px;
}

.carousel-item > img{
     vertical-align: middle;
     border-style: none;
     /* Tornando fixo o tamanho das imagens do carroussel */
     height: 300px !important;
     width: 600px !important;
}

.carousel-indicators {
     right: 0;
     bottom: -50px !important;  
     left: 0;
     z-index: 15;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: center;
     justify-content: center;
     padding-top: 100px !important; /*Distancia do indicador do slide em relação ao conteudo */
     margin-right: 15%;
     margin-left: 15%;
     list-style: none;
}

.carousel-control-next, .carousel-control-prev {
     position: absolute !important; /*Mantendo os botões fixos */
     top: 0;
     bottom: 0;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 20px !important; /*Distancia dos botões do slide em relação ao conteudo */
     margin: 0px -60px !important;
     text-align: center;
     opacity: .5;
}