* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 15px;
}

h2 {
    font-size: 2.4em;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #555;
}

/* ----NAVBAR SECTION---- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-nav {
    display: flex;
    gap: 15px;
}

.bg-dark{
    background-color: #03045E !important;
}

/* ----TEAM SECTION---- */

.team-section {
    padding: 40px 0;
    text-align: center;
    background-color: #e9ecef;
}

.team-section h2{
    padding-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-member {
    max-width: 200px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

/* ----PARTNERS SECTION---- */

.partners-section {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.partner-item {
    width: 150px; /* Largura fixa */
    height: 100px; /* Altura fixa */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.partner-item img {
    max-width: 80%; /* Limita a largura da imagem */
    max-height: 80%; /* Limita a altura da imagem */
    object-fit: contain; /* Garante o ajuste da imagem dentro do contêiner */
}

/* ----SITEMAP SECTION---- */

.sitemap-section {
    padding: 40px 0;
    background-color: #f8f9fa;
}

.sitemap-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.sitemap-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center; 
}

.sitemap-list li {
    text-align: center;
}

.sitemap-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    transition: color 0.3s;
}

.sitemap-list a:hover {
    color: #0056b3;
}

/* ----FOOTER SECTION---- */ 
footer {
    background-color: #333;
    font-size: 80%;
    padding: 20px 0; /* Reduzi o padding geral */
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */
    gap: 30px;
}

/* Estilo para o Mapa do Site no Footer */
.footer-sitemap {
    flex: 1 1 60%;
    color: #fff;
    text-align: center;
}

.footer-sitemap h2 {
    color: #fff;
    margin-bottom: 15px;
}

.sitemap-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
}

.sitemap-list li {
    text-align: center;
}

.sitemap-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    transition: color 0.3s;
}

.sitemap-list a:hover {
    color: #fff;
}

/* Redes Sociais */
.social-nav {
    flex: 1 1 30%; /* Ajuste para trazer os ícones mais à esquerda */
    text-align: center; /* Alinha os ícones */
}

.social-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 60px;
    padding-bottom: 20px;
}

.social-nav li a:visited,
.social-nav li a:link {
    text-decoration: none;
    color: #888;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-instagram:hover {
    color: rgb(217, 50, 117);
}

.logo-facebook:hover {
    color: #3b5998;
}

.logo-youtube:hover {
    color: #FF0000;
}

.logo-youtube,
.logo-facebook,
.logo-instagram,
.logo-twitter {
    transition: color 0.2s;
    font-size: 30px;
}

/* Texto do rodapé */
.footer-bottom {
    padding: 10px 0; /* Reduzido para economizar espaço */
    margin-top: 20px;
}

footer p {
    color: #888;
    text-align: center;
    margin: 0;
}

/* Responsividade para o menu */
@media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: row;
        gap: 10px;
        display: block;
    }

    .navbar-nav.show {
        display: flex;
    }

    .navbar .nav-link {
        padding: 10px 20px;
    }
    .team-members {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .team-member {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-nav {
        flex-direction: column !important;
        align-items: left !important;
    }
    .navbar-nav .nav-item {
        margin: 5px 0 !important;
    }
}
